{% block klarna_payment_settings %}
    <sw-page class="klarna-payment">
        {% block klarna_payment_settings_header %}
            <template slot="smart-bar-header">
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon
                        :name="arrowIconName"
                        small
                    />
                    {{ $tc('klarna-payment-configuration.settingsForm.title') }}
                </h2>
            </template>
        {% endblock %}

        {% block klarna_payment_settings_actions %}
            <template slot="smart-bar-actions">
                {% block klarna_payment_settings_actions_wizard %}
                    <sw-button
                      :disabled="isLoading || isTesting"
                      @click="onWizard">
                        {{ $tc('klarna-payment-configuration.settingsForm.buttons.wizard') }}
                    </sw-button>
                {% endblock %}
                {% block klarna_payment_settings_actions_test %}
                    <sw-button-process
                      :isLoading="isTesting"
                      :processSuccess="isTestSuccessful"
                      @process-finish="onTestFinished()"
                      :disabled="isLoading"
                      @click="onTest()">
                        {{ $tc('klarna-payment-configuration.settingsForm.buttons.test') }}
                    </sw-button-process>
                {% endblock %}

                {% block klarna_payment_settings_actions_save %}
                    <sw-button-process
                      class="sw-settings-login-registration__save-action"
                      :isLoading="isLoading"
                      :processSuccess="isSaveSuccessful"
                      @process-finish="onSaveFinished()"
                      :disabled="isLoading || isTesting"
                      variant="primary"
                      @click="onSave">
                        {{ $tc('klarna-payment-configuration.settingsForm.buttons.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block klarna_payment_settings_content %}
            <template slot="content">
                <sw-card :hero="true" :isLoading="false" :large="false">
                    <sw-alert variant="info" appearance="default" :showIcon="true" :closable="false">
                        {{ $tc('klarna-payment-configuration.settingsForm.inheritanceWarning') }}
                    </sw-alert>
                </sw-card>

                {#
                TODO: Enable once Klarna enables the payment method
            <sw-card v-if="showNotificationGlobalPurchaseFlowMissing">
                <sw-alert variant="info" appearance="default" :showIcon="true" :closable="false">
                    {{ $tc('klarna-payment-configuration.settingsForm.globalPurchaseMissingInfo') }}
                </sw-alert>
            </sw-card>
                #}

                <sw-card-view>
                    <sw-system-config
                        ref="systemConfig"
                        salesChannelSwitchable
                        inherit
                        @config-changed="onConfigChange"
                        @saleschannel-changed="setSalesChannelDomainsWithoutHttps"
                        domain="KlarnaPayment.settings">

                        {#
                        TODO: Enable once Klarna enables the payment method
                    <template #beforeElements="{ card, config }">
                        <template v-if="!showNotificationGlobalPurchaseFlowMissing">
                            <template v-if="card.name == 'payment_settings'">
                                <sw-alert variant="info" appearance="default" :showIcon="true" :closable="false">
                                    {{ $tc('klarna-payment-configuration.settingsForm.deprecatedConfiguration') }}
                                </sw-alert>
                            </template>
                        </template>
                    </template>
                        #}

                        <template #card-element="{ element, config }">
                            <div v-show="displayField(element, config)">
                                <div v-if="element.name.endsWith('testMode')">
                                    <sw-alert
                                        variant="info"
                                        appearance="pill">
                                        {{ $tc('klarna-payment-configuration.settingsForm.apiConfiguration.notice') }}
                                    </sw-alert>
                                </div>

                                <sw-form-field-renderer v-bind="$refs.systemConfig.getElementBind(element)"
                                                        v-model="$refs.systemConfig.actualConfigData[$refs.systemConfig.currentSalesChannelId][element.name]">
                                </sw-form-field-renderer>

                                <div v-if="element.name.endsWith('isOnsiteMessagingActive')" class="klarna-field--osm-description">
                                    <p>
                                        <a v-if="getConfigValue('testMode')" target="_blank"
                                          :href="$tc('klarna-payment-configuration.settingsForm.onsiteMessaging.playgroundUrl')">
                                            <sw-button size="x-small">
                                                {{ $tc('klarna-payment-configuration.settingsForm.onsiteMessaging.generate')}}
                                            </sw-button>
                                        </a>
                                        <a v-else target="_blank"
                                          :href="$tc('klarna-payment-configuration.settingsForm.onsiteMessaging.defaultUrl')">
                                            <sw-button size="x-small">
                                                {{ $tc('klarna-payment-configuration.settingsForm.onsiteMessaging.generate')}}
                                            </sw-button>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </template>
                    </sw-system-config>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
