<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing http://symfony.com/schema/routing/routing-1.0.xsd">

    <!-- Administration Controllers -->
    <import resource="@KlarnaPayment/Components/Controller/Administration/OrderController.php" type="annotation"/>
    <import resource="@KlarnaPayment/Components/Controller/Administration/OrderUpdateController.php" type="annotation"/>
    <import resource="@KlarnaPayment/Components/Controller/Administration/SettingsController.php" type="annotation"/>
    <import resource="@KlarnaPayment/Components/Controller/Administration/WizardController.php" type="annotation"/>

    <!-- Storefront Controllers -->
    <import resource="@KlarnaPayment/Components/Controller/Storefront/KlarnaPaymentsCallbackController.php" type="annotation"/>
    <import resource="@KlarnaPayment/Components/Controller/Storefront/KlarnaExpressCallbackController.php" type="annotation"/>
    <import resource="@KlarnaPayment/Components/Controller/Storefront/KlarnaCheckoutController.php" type="annotation"/>
</routes>
